.*.swp
build
build_32
build_64
.vs
*.ini
*.dat
input*.txt
output*.txt
windows/bytenn-windows/Debug
windows/bytenn-windows/Release
windows/bytenn-windows/x64
windows/bytenn-windows/test-bytenn-mt/Debug
windows/bytenn-windows/test-bytenn-mt/Release
windows/bytenn-windows/test-bytenn-mt/x64
windows/bytenn-windows/test-bytenn-md/Debug
windows/bytenn-windows/test-bytenn-md/Release
windows/bytenn-windows/test-bytenn-md/x64
windows/bytenn-windows/bytenn-mt/Debug
windows/bytenn-windows/bytenn-mt/Release
windows/bytenn-windows/bytenn-mt/x64
windows/bytenn-windows/bytenn-md/Debug
windows/bytenn-windows/bytenn-md/Release
windows/bytenn-windows/bytenn-md/x64
windows/bytenn-windows/x86
windows/bytenn-windows/bytenn-windows/Debug
sdk/windows/*
windows/bytenn-windows/bytenn_windows_library/*
windows/bytenn-windows/output/*
*obj
*tlog
cmake-build-debug/*
.idea
sdk/*
.vscode
build_*
test/cmake-build-debug/*
libs/mac/lib*dylib

a.out
*.o
